/* ============================================= */
/* Variables */
/* ============================================= */

// Descriptive Color Variable

$white: #fff;
$grey: #898f9c;
$black: #000;
$lime-green: #90ee90;
$navy-blue: #4267b2;
$purple: #7445e2;
$new-bg-color: #8e8adb;

// Functional Color Variable

$send-btn-color: $new-bg-color;
$save-btn-color: $new-bg-color;
$cancel-btn-color: $grey;

$hover-color: rgb(100, 63, 187);
$notication-color: $lime-green;

$header-bg-color: $new-bg-color;
$color-text: #000000;
$alert-bg-color: lighten($header-bg-color, 8%);
$dashboard-color: darken($new-bg-color, 8%);
$social-text-color: lighten($alert-bg-color, 5%);
$social-bg: #ecf0f7;
$social-views-color: lighten($black, 50%);
$social-bg-color: #d3d3d340;

$svg-width: 40;
