/* ============================================= */
/* Variables */
/* ============================================= */

// Descriptive Color Variable

$white: #fff;
$grey: #898f9c;
$greyy: #898f9c;

// Functional Color Variable

$send-btn-color: #4267b2;
$save-btn-color: #4267b2;
$cancel-btn-color: #898f9c;

$hover-color: limegreen;

$color-text: #000000;

$svg-width: 40;
