// Start button

.button-primary {
  background-color: $send-btn-color;
  color: $white;
  border: none;
  height: 50px;
  border-radius: 4px;
  font-size: 1.1rem;
}

.button-save,
.button-cancel {
  background-color: $send-btn-color;
  color: $white;
  height: 50px;
  border: 1px solid $grey;
  border-radius: 4px;
  font-size: 1rem;
}

.button-cancel {
  background-color: $grey;
}

.settings-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

// Toggle Switch

.switch-ios.switch-light {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  align-items: center;
  // margin: 10px 0;
}

.switch-ios.switch-light span {
  flex-basis: 100px;
}

.switch-ios.switch-light strong {
  flex-basis: 200px;
}

.switch-ios.switch-light input:checked ~ span {
  border-color: #d3d3d340;
  box-shadow: inset 0 0 0 30px #8e8adb;
}

.switch-ios.switch-light input:checked ~ span a {
  border-color: #d3d3d340;
}
// End Toggle Switch
