.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.nav {
  grid-area: nav;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.widget-container-full,
.widget-container-half {
  width: 95vw;
  margin: 0.3rem auto 1rem auto;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header" "nav main";
  }

  .traffic-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  main {
    // grid-template-columns: 50%;
    grid-area: main;
    // margin: initial;
    display: grid;
  }

  .bell-icon {
    margin-left: 8rem;
  }

  .bell-icon svg {
    width: 22px;
    height: 22px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .tab {
    width: 100%;
  }

  .alert-banner {
    width: 80%;
  }

  .full-container {
    display: grid;
    // grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
  }

  #vline {
    width: 0px;
    margin: 0 auto;
  }

  .widget-container-half {
    width: 90%;
  }

  .facebook,
  .instagram,
  .twitter {
    padding: 0.2rem;
    margin: 0.2rem 0.4rem;
  }

  .members-container,
  .activity-container {
    display: flex;
    align-items: center;
  }

  .members-text,
  .activity-text {
    margin-left: 14px;
    text-align: left;
  }

  .members-container > p,
  .active-container > p {
    margin-left: auto;
  }

  .social-container {
    display: flex;
    flex-wrap: wrap;
  }

  .social-container .facebook,
  .social-container .twitter,
  .social-container .instagram {
    flex-basis: 31.333%;
    margin: 4px 20px 0 20px;
  }

  h3 {
    margin: 10px 1rem;
    font-size: 12px;
    font-weight: bold;
  }
}

@media (min-width: 1024px) {
  .traffic,
  .social-container {
    grid-column: 1 / span 2;
  }

  hr {
    display: none;
  }

  .bell-icon {
    margin-left: 18rem;
  }

  .daily-traffic,
  .mobile-users {
    border-top: 1px solid $grey;
    border-right: 1px solid $grey;
  }

  .social-container {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    padding: 2rem 0 1.5rem 0;
  }

  .members,
  .message {
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    padding-right: 10px;
  }

  .activity {
    border-right: 1px solid $grey;
    border-bottom: 1px solid $grey;
    // border-width: 100%;
  }

  .widget-container-half,
  .members {
    grid-column: 1 / span 1;
  }

  .settings,
  .activity,
  .daily {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
    margin: 1rem auto 2rem auto;
  }

  .settings-container {
    width: 90%;
    margin: auto;
    margin-top: 2.65rem;
    margin-bottom: 2rem;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 8rem;
  }
}
