.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header" 
    "nav"  
    "main";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

// .main {
//     display: grid;
// }

.nav {
    grid-area: nav;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 1rem;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header" "nav main";
    }

    main {
        // grid-template-columns: 50%;
        grid-area: main;
        // margin: initial;
        display: grid;
    }

    // .notifications {
    //     width: 400px;
    // }

    // header {
    //     grid-area: header;
    //     display: flex;
    //     justify-content: space-between;
    //     width: 100%;
    // }

    // .dashboard-header,
    //  .alert,
    //  .traffic,
    //  .traffic-header,
    //  .social-container,
    //  .members,
    //  .activity,
    //  .message,
    //  .settings {
    //     grid-column: 1 / span 2;
    //  }

    .bell-icon {
        margin-left: 12.7rem;
    }

    .bell-icon svg {
        width: 22px;
        height: 22px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // align-items: center;
    }
    
    .tab {
        width: 100%;
    }

    .alert-banner {
        width: 80%;
    }

    // .full-container {
    //     display: flex;
    //     // grid-template-columns: 50%;

    //     height: 26vh;
    //     // align-items: center;
    // }

    .full-container {
		display: grid;
		// grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(3, 1fr);
	}

    #vline {
        // height: 26vh;
        width: 0px;
        margin: 0 auto;
    }

    // .widget-container-half {
    //     display: grid;
    //     grid-template-columns: 50%;
    // }


    .widget-container-half {
        // width: 40vw;
        width: 90%;
        // margin: auto;
    }

    // .widget-container-half {
    //     grid-column: 1 / span 1;
    // }



    // .full-container .daily h3 {
    //     margin-left: 1rem;
    // }


    // .traffic {
    //     margin: 0 1rem;
    // }

    // .widget-container-full, .widget-container-half {
    //     width: 95vw;
    // }

    // .widget-container-full {
    //     margin: initial;
    // }

    

    // .daily {
    //     grid-column: 2 / span 1;
    //     border-left:2px solid #ccc;
    //  }

    .social-media {
        display: flex;
        margin-bottom: 1rem;
    }

    .facebook, .instagram, .twitter {
        // margin: 1rem 1rem;
        // padding: 0.5rem 0.5rem;
        // width: 15rem;
        padding: 0.2rem;
        margin: 0.2rem 0.4rem;
    }

    .members-container,
    .activity-container {
        display: flex;
        align-items: center;

        // text-align: start;
        // padding: 1rem;
        // padding: 1.4rem;
        // margin-left: -35px;
    }

    .members-text, .activity-text {
        margin-left: 14px;
        text-align: left;
    }

    .members-container > p,
    .active-container > p {
        margin-left:auto;
    }

    .social-container {
        display: flex;
        flex-wrap: wrap;
    }

    .social-container .facebook, 
    .social-container .twitter, 
    .social-container .instagram{
        flex-basis: 31.333%;
        margin: 4px 20px 0 20px;
    }

    // .traffic, .social-container {
    //     grid-column: 1 / span 2;
    // }

    // .mobile, .activity, .settings {
    //     grid-column: 2 / span 1;
    // }
    
    

    

    // .activity {
    //     text-align-last: auto;
    // }
   
    // .facebook, .instagram, .twitter {
    //     margin: 1rem .5rem;
    //     padding: 1rem 0.5rem;
    //     max-width: 15rem;
    // }
    
}

@media (min-width: 1024px) {




    // main{
    //     justify-content: unset;
    //  }
    
    .members, .activity {
        grid-column: 1 / span 2;
         }
    
        // .mobile, .activity, .settings {
        //     grid-column: 2 / span 1;
        // }

    //  .members, 
    //  .message {
    //      grid-column: 1 / span 1;
    //     }
    //  .activity, .settings {
    //      grid-column: 2 / span 1;
    //      border-left: 2px solid #ccc;

    //  }
    
    //  .activity > h3{
    //      padding:0;
    //  }
    //  .activity {
    //      padding:10px;
    //  }
    //  .message h3 {
    //     padding:10px;
    // }
    //  .activity-text *, .members-text * {
    //      font-size: 14px;
    //  }
    //  .message, .settings {
    //      display:flex;
    //      flex-direction: column;
    //  }
    //  .message {
    //      padding:0;
    //  }
    //  .form, .form-field {
    //      margin-top: auto;

    //  }
    //  .button-send {
    //     border: 1px solid #c7c7c7;
    //     background-color: #8e8adb;
    //     color:#fff;
    //     margin: 0;
    //     padding: 0;
    //     font-size: 16px;
    //     border-radius: 10px;
    //     height:45px;
    // } 
    // .message{
    //     border-bottom: none;
    // }

}




