/* ============================================= */
/* Navigation */
/* ============================================= */

.nav {
  padding: 0.375rem;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  background-color: $dashboard-color;
  width: 100%;
}

nav img {
  width: 30px;
  height: 45px;
  margin: auto;
  filter: invert(1);
  padding-top: 10px;
  padding-bottom: 5px;
}

.traffic-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.traffic-header {
  display: flex;
  align-items: center;
  text-align: center;
}

.traffic-nav p {
  text-align: center;
  width: 40%;
  border-radius: 10%/50%;
  transition: background-color 0.5s ease-in-out;
  margin-right: 0.5rem;
}

.traffic-nav p:hover {
  background-color: $hover-color;
  border-radius: 10%/50%;
  text-align: center;
  color: white;
  cursor: pointer;
}
